<!doctype html>
<html>
<head>
    <title>Coffee Orders</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>Welcome Model Employee!</h1>
        <span>Heres a quote to get your day off to a good start</span>
        <p>"Would I rather be feared or loved? Easy. Both. I want people to be afraid of how much they love me."</p>
        <img id="logo" src="https://reserve.pokemon-cafe.jp/assets/logo-821305a8aaf9bbdcb6923122cd79d33b1be7d40412fe9950956d1d589ba84cfc.png" alt="Cereal Bar Profile Photo">

        <p>Login or Signup:</p>

        <h2>Barista</h2>
        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
        <h2>Cashier</h2>
        <a href="/cashier" class="btn btn-default"><span class="fa fa-user"></span>Cashier</a>
        <!-- <a href="/cashsignup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a> -->
    </div>

</div>
</body>
</html>
